<!DOCTYPE html>
<!-- Coding By CodingNepal - youtube.com/codingnepal -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Currency Converter App in JavaScript | CodingNepal</title>
    <link rel="stylesheet" href="style2.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- FontAweome CDN Link for Icons -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
  </head>
  <body>
    <div class="cover">
      <div class="wrapper">
        <header><b>Currency Converter</b></header>
        <form class="for" action="#">
          <div class="amount">
            <p>Enter Amount</p>
            <input class="val" type="text" value="1" />
          </div>
          <div class="drop-list1">
            <div class="from">
              <p>From</p>
              <div class="select-box1">
                <img src="https://flagcdn.com/48x36/us.png" alt="flag" />
                <select>
                  <!-- Options tag are inserted from JavaScript -->
                </select>
              </div>
            </div>
            <div class="icon1"><i class="fas fa-exchange-alt"></i></div>
            <div class="to">
              <p>To</p>
              <div class="select-box1">
                <img src="https://flagcdn.com/48x36/np.png" alt="flag" />
                <select>
                  <!-- Options tag are inserted from JavaScript -->
                </select>
              </div>
            </div>
          </div>
          <div class="exchange-rate">Getting exchange rate...</div>
          <button class="ratss">Get Exchange Rate</button>
        </form>
      </div>

      <script src="{{url_for('static',filename='js/country-list.js')}}"></script>
      <script src="{{url_for('static',filename='js/script.js')}}"></script>
    </div>
  </body>
</html>
