<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="cont">
      <div class="dec">
        <h1 data="Currency~Detector">Currency~Detector</h1>
        <h2>Upload Image Here</h2>
        <button class="icon-butn add-butn">
          <div class="butn-txt">Add Photo</div>
          <input
            class="bp"
            type="file"
            id="image-input"
            accept="image/jpeg, image/png, image/jpg"
          />
          <div class="add-icon"></div>
        </button>
        <div id="display-image"></div>
      </div>
    </div>
    <script src="{{url_for('static',filename='js/script.js')}}"></script>
  </body>
</html>
